{% extends 'base.html.twig' %}
{% block topbar %}
{% endblock %}
{% block menuBar %}
{% endblock %}
{% block mainContent %}

<div class="ml-subheader__bookWrapp">
							<div class="ml-bookPanel" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 50%; height: 50%;">
								<div class="ml-bookPanel__titleWrapp">
									<h4 class="ml-bookPanel__title">Reset Password</h4>
								</div>
                                {% for success  in app.flashes('success') %}
                                        <div class="alert alert-success">
                                        {{ success }}
                                        </div>
                                {% endfor %}
                                {% for success  in app.flashes('danger') %}
                                        <div class="alert alert-danger">
                                        {{ success }}
                                        </div>
                                {% endfor %}
								<div class="ml-bookPanel__formWrapp">
									{{ form_start(form) }}
										<div class="ml-form-component ml-component--style1">
											<span class="ml-icon-mail ml-form-icon"></span>
											{{ form_widget(form.email, {'attr': {'class': 'ml-input ml-input--style1'}}) }}
                                            {{ form_errors(form.email) }}
											<label for="email">Adresse Email</label>
										</div><!--/.ml-form-component-->
										
										
									{{ form_end(form) }}
								</div><!--/.ml-bookPanel__formWrapp-->
							</div><!--/.ml-bookPanel-->
						</div><!--/.ml-subheader__bookWrapp-->






    
    

{% endblock %}
{% block footer %}
{% endblock %}